body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: rgb(64,73,61);
}
header{
    background-image: url(images/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    display: none;
}
header>img{
    width: 23rem;
    max-width: 100%;
}
header{
    padding:1rem;
}
nav>a{
    background-color: rgb(245, 245, 245);
    color: rgb(15, 15, 45);
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem
}